<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">

    <div wicket:id="feedback"></div>
    <p class="pull-right">Total burned budget with current filter: <strong wicket:id="total">€120.000</strong></p><br/>

    <table class="table table-bordered table-hover" wicket:id="table">
        <thead>
        <tr>
            <th><wicket:message key="table.head.budget">Budget</wicket:message></th>
            <th><wicket:message key="table.head.name">Name</wicket:message></th>
            <th><wicket:message key="table.head.dailyRate">Daily Rate</wicket:message></th>
            <th><wicket:message key="table.head.date">Date</wicket:message></th>
            <th><wicket:message key="table.head.hours">Hours</wicket:message></th>
            <th><wicket:message key="table.head.budgetBurned">Budget Burned</wicket:message></th>
        </tr>
        </thead>
        <tbody>
        <tr wicket:id="recordList">
            <td wicket:id="budget">Project Management</td>
            <td wicket:id="person">Tom Hombergs</td>
            <td><span wicket:id="dailyRate">790</span><span wicket:id="edited" class="fa fa-fw fa-edit"></span></td>
            <td wicket:id="date">25.09.2014</td>
            <td wicket:id="hours">8.00</td>
            <td wicket:id="burnedBudget">790</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th><wicket:message key="table.head.budget">Budget</wicket:message></th>
            <th><wicket:message key="table.head.name">Name</wicket:message></th>
            <th><wicket:message key="table.head.dailyRate">Daily Rate</wicket:message></th>
            <th><wicket:message key="table.head.date">Date</wicket:message></th>
            <th><wicket:message key="table.head.hours">Hours</wicket:message></th>
            <th><wicket:message key="table.head.budgetBurned">Budget Burned</wicket:message></th>
        </tr>
        </tfoot>
    </table>

</wicket:panel>